@charset "utf-8";

/* Common / Default */
:root {
  --main-color: #00a287;
}
::selection {
  background: var(--main-color);
  color: #FFF;
}
body {margin-bottom: 500px;
  font-family: 'Montserrat','SUIT',sans-serif;
  font-size: 16px;color: #222;
  background: #FFF;
}
button {cursor: pointer}

/* .inner {width: 93%;max-width: 1400px;margin: auto;} */
.inner {max-width: 100%;padding: 0 3%;}
.blind {display: block;width: 0;height: 0;overflow: hidden;}
.main_link {
  display: inline-flex;gap: 8px;padding: 16px 30px;
  border: 1px solid #FFF;
}
.main_link:hover {
  background: #FFF;color: #222;
}
.main_link:hover i {
  color: var(--main-color);font-size: 18px;
}

/* skip-nav */
.skip_nav a {
  position: absolute;left: 0;right: 0;top: -50px;z-index: 9999;
  background: var(--main-color);color: #FFF;
  font-weight: 500;line-height: 50px;text-align: center;
}
.skip_nav a:focus {top: 0;}

/* popup */
#popup {
  position: absolute;left: 7%;top: 5%;z-index: 9000;
  width: 500px;border: 2px solid #EEE;
  background: #EEE;font-size: 12px;
}
.popup_footer {
  display: flex;justify-content: flex-end;
  align-items: center;gap: 4px;
  padding: 7px 4px;
}
.popup_footer i {font-size: 16px;font-weight: 700;cursor: pointer;}

/* Header */
.home header {
  position: fixed;left: 0;right: 0;top: 0;z-index: 100;
  color: #FFF;
}
header .inner {
  display: flex;justify-content: space-between;
  align-items: center;
}
header h1 a {
  display: block;width: 178px;height: 0;
  padding-top: 28.8%;overflow: hidden;
  background-image: url(../img/common/logo.svg);
  background-size: cover;border: 1px solid #000;
  transition: all .3s;
}
header #gnb .dep1 {display: flex;}
header #gnb .dep1>li {
  display: flex;align-items: center;
  height: 110px;padding: 0 34px;
}
header #gnb .dep1>li>a {
  font-size: 20px;font-weight: 700;
  position: relative;
}
/*** Legacy
header #gnb .dep1>li>a::after {
  content:"";display: none;width: 100%;height: 4px;
  position: absolute;left: 0;bottom: -14px;
  background: var(--main-color);
}
header #gnb .dep1>li:hover>a::after {
  display: block;
} */
header #gnb .dep1>li:hover>a,
header #gnb .dep1>.active {
  /* text-decoration-line: underline;
  text-decoration-color: var(--main-color);
  text-decoration-thickness: 4px; */
  text-decoration: underline solid var(--main-color) 4px;
  text-underline-offset: 10px;
}
header #gnb .dep2_wrap {
  display: none;
  position: absolute;left: 0;right: 0;top: 111px;
  background: #FFF;color: #222;
}
header #gnb .dep2 {
  display: flex;justify-content: center;
}
header #gnb .dep2>li {
  /* border-left: 1px solid #efefef; */
  width: 185px;padding: 50px 20px;
  border-left: 1px solid #efefef;
}
header #gnb .dep2>li:hover {background: #f4f6f9;}
header #gnb .dep2>li>a {
  font-size: 18px;font-weight: 700;
}
header #gnb .dep3 {
  display: flex;flex-direction: column;gap: 20px;
  margin-top: 30px;
}

header .header_util {
  display: flex;align-items: center;
}
header .lang_wrap {position: relative;}
header .lang_wrap button {
  display: flex;gap: 5px;align-items: center;
}
header .lang_wrap button i {
  transition: all 0.3s;
}
header .lang_wrap button.open i {
  transform: rotate(180deg);
}
header .lang_wrap ul {
  display: flex;flex-direction: column;gap: 14px;
  position: absolute;left: 50%;top: 26px;
  transform: translateX(-50%);padding: 10px 20px;
  background: rgba(255,255,255,0.8);
  border: 1px solid #e0e0e0;opacity: 0;
  border-radius: 10px;color: #4d4d4d;
  transition: opacity 0.3s;
}
header .lang_wrap ul.open {opacity: 1;}
/* 안보여야 하는 리스트를 단순히 투명도만 조절하면 클릭이 동작하기 때문에 자바스크립트 처리가 필요 */

header .search_popup {
  display: none;position: absolute;
  left: 0;right: 0;top: 111px;
  padding: 70px 0 100px;background: #FFF;
}
header .search_popup h2 {
  margin-bottom: 24px;text-align: center;
  color: var(--main-color);font-size: 40px;
  font-weight: 800;text-transform: uppercase;
}
header .search_popup form {
  display: flex;justify-content: center;
}
header .search_popup form input {
  width: 480px;padding: 16px 24px;
  background: #fafafa;border-radius: 8px;
  font-size: 18px;color: #8f98a7;
}
header .search_popup form button {
  background: #222;color: #FFF;
  border-radius: 8px;width: 54px;
}

header .allmenu_popup {/*display:flex*/
  display: none;background: #FFF;color: #222;
  position: fixed;left: 0;right: 0;top: 0;bottom: 0;
}
header .allmenu_popup .allmenu_logo {
  width: 178px;position: absolute;left: 60px;top: 30px;
}
header .allmenu_popup .allmenu_logo .img_box {
  padding-top: 28.6%;height: 0;overflow: hidden;
  /* padding-top: 28.6%; 기준이되는 width 박스의 자손에게 설정 */
  position: relative;
}
header .allmenu_popup .allmenu_logo .img_box img {
  position: absolute;left: 0;top: 0;
}
header .allmenu_popup .allmenu_left {
  display: flex;align-items: flex-end;
  width: 28%;max-width: 500px;padding: 60px;
  background: url(../img/common/allmenu_bg.jpg) center;
  background-size: cover;color: #FFF;font-size: 16px;
  font-family: 'SUIT';
}
header .allmenu_popup .allmenu_left dl {
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-rows: 30px 30px;
  padding-bottom: 10px;margin-bottom: 30px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

header .allmenu_popup .allmenu_left dt {
  font-weight: 700;
}
header .allmenu_popup .allmenu_left .copyright {opacity: 0.7;}
header .allmenu_popup .btn_allmenu_close {position: absolute;right: 60px;top: 30px;}
header .allmenu_popup .allmenu_right {
  flex-grow: 1;padding: 110px;padding-top: 150px;
}

header .allmenu_popup .allmenu_right .dep1 {
  overflow: auto;height: 100%;
  scrollbar-color: #e0e0e0 transparent;
  scrollbar-width: thin;
}
header .allmenu_popup .allmenu_right .dep1>li {
  display: flex;padding: 40px 0;
  border-bottom: 1px solid red;
}
header .allmenu_popup .allmenu_right .dep1>li>a {
  width: 200px;flex-shrink: 0;font-size: 24px;font-weight: 700;
}
header .allmenu_popup .allmenu_right .dep2 {
  flex-grow: 1;background: pink;
  display: grid;grid-template-columns: repeat(4, 1fr);
  font-size: 18px;
}
header .allmenu_popup .allmenu_right .dep2>li {border: 1px solid #000;}

/* header on / scroll */
header.scroll {background: #FFF;color: inherit;}
header.on, header.sub_header {
  background: #FFF;color: inherit;
  border-bottom: 1px solid #efefef;
}
header.on h1 a, header.sub_header h1 a {
  background-position: center bottom;
}


@media screen and (min-width: 1440px) {/*PC*/
  header .header_util {
    gap: 26px;font-size: 24px;
  }
  header .lang_wrap {font-size: 16px;}
}
@media screen and (max-width: 1440px) {
  header .header_util {
    gap: 24px;font-size: 22px;
  }
  header .lang_wrap {font-size: 14px;}
  header .allmenu_popup .allmenu_logo {left: 30px;}
  header .allmenu_popup .btn_allmenu_close {right: 30px;}
  header .allmenu_popup .allmenu_right .dep2 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1140px) {
  header .inner {height: 90px;}
  header h1 a {width: 163px;}
  header #gnb {display: none;}
  header .header_util {gap: 22px;font-size: 20px;}
  header .allmenu_popup .allmenu_logo {width: 163px;top: 20px;}
  header .allmenu_popup .allmenu_logo .img_box img {bottom: 0;top: auto;}
  header .allmenu_popup .allmenu_left {display: none;}
  header .allmenu_popup .allmenu_right {
    padding: 30px;padding-top: 80px;
  }
}
@media screen and (max-width: 1024px) {
  header .inner {height: 80px;}
  header h1 a {width: 143px;}
  header .allmenu_popup .allmenu_logo {width: 143px;}
}
@media screen and (max-width: 768px ) {
  .allmenu_right .dep1>li {display: block;}
  header .allmenu_popup .allmenu_right .dep2 {display: block;}
}

/* Footer */
footer {padding: 70px 0;}
footer .f_top {
  display: flex;justify-content: space-between;
  margin-bottom: 90px;font-size: 18px;
}
footer .f_top .f_menu {display: flex;gap: 40px;}
footer .f_top .f_link {
  display: flex;gap: 40px;align-items: center;
}
footer .f_top .family_wrap {position: relative;}
footer .f_top .family_wrap button {
  display: flex;gap: 0.4em;
  font-size: 18px;font-weight: 700;
}
footer .f_top .family_wrap ul {
  overflow: auto;
  position: absolute;left: 50%;bottom: 2.5em;
  transform: translateX(-50%);
  height: 0;padding: 1em 2em;
  font-size: 16px;background: #FFF;
  border: 1px solid #e0e0e0;border-radius: 10px;
  box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.05);
  white-space: nowrap;text-align: center;
  /* display: flex;flex-direction: column;gap:1em; */
}
footer .f_top .family_wrap li {margin: 1em 0;}
footer .f_top .family_wrap li:hover {text-decoration: underline;}
footer .family_wrap ul::-webkit-scrollbar {width: 0;}
footer .f_top .sns_wrap {
  display: flex;gap: 1em;font-size: 24px;
}
footer .f_btm {
  display: flex;gap: 30px;font-size: 16px;
  font-family: 'SUIT', sans-serif;
}
footer .f_btm .f_logo {width: 178px;margin-top: -0.5em;}
footer .f_btm .f_logo a {
  display: block;overflow: hidden;position: relative;
  height: 0;padding-top: 28.8%;
}
footer .f_btm .f_logo a img {
  position: absolute;left: 0;bottom: 0;width: 100%;
}
footer .f_btm .f_address address {margin-bottom: 0.5em;}
footer .f_btm .f_contact {display: flex;gap: 2em;}
footer .f_btm .f_contact p {display: flex;gap: .8em;}
footer .f_btm .f_contact span {font-weight: 700;}

@media screen and (max-width: 1280px) {
  footer .f_top {font-size: 16px;}
  footer .f_top .f_menu {gap: 32px;}
  footer .f_top .family_wrap button {font-size: 16px;}
  footer .f_top .family_wrap ul {font-size: 14px;}
  footer .f_top .sns_wrap {font-size: 22px;}
}
@media screen and (max-width: 1024px) {
  footer {padding: 60px 0;}
  footer .f_top {font-size: 14px;}
  footer .f_top .f_menu {gap: 28px;}
  footer .f_top .family_wrap button {font-size: 14px;}
  footer .f_top .family_wrap ul {font-size: 12px;}
  footer .f_top .sns_wrap {font-size: 20px;}
  footer .f_btm {flex-wrap: wrap;row-gap: 200px;}
}
@media screen and (max-width: 768px) {
  footer {padding: 30px 0;}
  footer .f_top {
    flex-direction: column-reverse;margin-bottom: 30px;
  }
  footer .f_top .f_link {
    justify-content: space-between;margin-bottom: 20px;
  }
  footer .f_btm {
    flex-wrap: nowrap;flex-direction: column;
  }
}

/* Main - 메인본문 */
main {}
.home main {}
.home main h3 {font-size: 64px;font-weight: 700;}
.sub main {}

/* home - Main */
.main_visual {position: relative;border: 1px solid #000;}
.main_visual .main_swiper {}
.main_visual .main_swiper .swiper-slide {}
.main_visual .main_swiper .swiper-slide img {
  object-fit: cover;height: 100%;
}
.main_visual .swiper-controls-wrap {background: rgba(255,0,0,0.5);
  display: flex;gap: 20px;justify-content: center;align-items: center;
  position: absolute;left: 0;right: 0;bottom: 20%;z-index: 1;
}
.main_visual .swiper-pagination {position: static;width: auto;display: flex;}
.main_visual .swiper-pagination span {
  width: 10px;height: 10px;
  background: none;opacity: 1;border: 1px solid #FFF;
}
.main_visual .swiper-pagination .swiper-pagination-bullet-active {background: #FFF;}
.main_visual .swiper-auto-controls {color: #FFF;font-size: 24px;}
.main_visual .swiper-auto-controls .auto-play {display: none;}

.swiper-button-prev {width: auto;}
.swiper-button-next {width: auto;transform: rotateY(180deg);}
.swiper-button-prev::after {background: pink;display: none;}
.swiper-button-next::after {background: pink;display: none;}

.main_visual .quick_list {
  display: flex;flex-wrap: wrap;
  position: absolute;bottom: 0;left: 0;right: 0;
  z-index: 10;color: #FFF;
  background-color: rgba(0,0,0,0.03);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(8px);
}
.main_visual .quick_list a {
  display: flex;justify-content: space-between;
  align-items: center;width: 25%;padding: 45px 60px;
  border-top: 1px solid rgba(255,255,255,.4);
  border-right: 1px solid rgba(255,255,255,.4);
}
.main_visual .quick_list a:last-child {border-right: 0;}
.main_visual .quick_list a:hover {background: var(--main-color);}
.main_visual .quick_list span {
  display: flex;gap: 20px;align-items: center;font-size: 20px;
}
.main_visual .quick_list span img {}
.main_visual .quick_list i {font-size: 24px;}

@media screen and (max-width: 1280px) {
  .main_visual .quick_list a {padding: 35px 30px;}
  .main_visual .quick_list span {gap: 18px;font-size: 18px;}
  .main_visual .quick_list span img {width: 32px;}
  .main_visual .quick_list i {font-size: 22px;}
}
@media screen and (max-width: 1024px) {
  .main_visual .quick_list a {padding: 28px 30px;}
  .main_visual .quick_list span {gap: 16px;font-size: 16px;}
  .main_visual .quick_list span img {width: 28px;}
  .main_visual .quick_list i {font-size: 20px;}
}
@media screen and (max-width: 840px) {
  .main_visual .quick_list a {width: 50%;padding: 26px 24px;}
  .main_visual .quick_list a:nth-child(2n) {border-right: 0;}
}

.earth_wrap {text-align: center;}
.earth_wrap h3 {margin: auto;}
.earth_wrap h3 .img_bg {
  display: block;
  padding-top: 10.43%;height: 0;overflow: hidden;
  background: url(../img/main/sec02_title.png) no-repeat center;
  background-size: contain;
}
.earth_wrap p {
  margin: 20px 0;font-size: 20px;
}
.earth_wrap strong {
  color: var(--main-color);font-weight: 600;
}
.earth_wrap img {margin: auto;}


/*
- 피씨에서는 안보이고 모바일에서만 보이는 스타일
- @media 에는 display 속성만 설정하고
  나머지 스타일은 default 영역에 작성

.earth_wrap .img_mob {
  flex-direction: column;
}
*/

/* 과정 섹션(PROGRAM) */
.course_wrap {}
.course_wrap .course_content {
  display: grid;gap: 24px;
  grid-template-columns: 2fr repeat(2, 1fr);
}
.course_wrap .course_content>* {
  overflow: hidden;border-radius: 10px;
}
.course_wrap .title_box {
  padding: 40px;
}
.course_wrap .title_box p {
  margin-top: 20px;font-size: 20px;line-height: 1.8em;
}
.course_wrap .title_box strong {
  color: var(--main-color);font-size: 24px;
  font-weight: 700;
}
.course_wrap .title_box .br2 {display: none;}
.course_wrap .course_link {
  position: relative;background: #000;
}
.course_wrap .course_link img {
  width: 100%;height: 100%;
  opacity: 0.6;transition: all .5s;
  object-fit: cover;
}
.course_wrap .course_link:hover img {
  opacity: 1;transform: scale(1.2);
}
.course_wrap .course_link span {
  display: flex;gap: 10px;align-items: center;
  position: absolute;left: 40px;bottom: 40px;
  color: #FFF; font-size: 28px;font-weight: 700;
}

/* course_wrap */
@media screen and (max-width: 1140px) {
  .course_wrap .course_content {
    grid-template-columns: repeat(2, 1fr);
  }
  .course_wrap .title_box {
    grid-column: 1 / span 2;
    text-align: center;
  }
  .course_wrap .title_box .br1 {display: none;}
  .course_wrap .title_box .br2 {display: block;}
  .course_wrap .course_link {height: 300px;}
  .course_wrap .course_thumb {display: none;}
}
@media screen and (max-width: 768px) {
  .course_wrap .title_box .br1 {display: block;}
  .course_wrap .title_box .br2 {display: none;}
  .course_wrap .course_link {height: 200px;}
}

/* .banner_wrap .inner {} => inner 클래스는 레이아웃 용도로만 사용할 것을 권장 */
.banner_wrap {
  text-align: center;color: #FFF;font-weight: 700;
}
.banner_wrap .banner_content {
  display: flex;flex-direction: column;
  justify-content: center;align-items: center;
  position: relative;overflow: hidden;
  background: rgba(0,0,0,.2);border-radius: 10px;
}
.banner_wrap .banner_content::after {
  content: "";position: absolute;z-index: -1;
  left: 0;right: 0;top: 0;bottom: 0;
  background: url(../img/main/sec06_bg.jpg) center no-repeat;background-size: auto 100%;
}
.banner_wrap .txt1 {font-size: 16px;margin-bottom: .6em;}
.banner_wrap .txt2 {font-size: 30px;}
.banner_wrap .banner_content img {
  position: absolute;top: 50%;transform: translateY(-50%);
}
.banner_wrap .banner_content .obj01 {left: 5%;}
.banner_wrap .banner_content .obj02 {right: 5%;}
.banner_wrap .bar {
  height: 1px;position: absolute;
  top: 50%;overflow: hidden;
  background: rgba(255,255,255,0.6);
}
.banner_wrap .bar::after {
  content: "";height: 1px;width: 300px;
  position: absolute;left: -300px;background: #FFF;
}
.banner_wrap .main_link:hover~.bar::after {
  left: 100%;transition: left 0.6s;
}
/* 직계(부모자손) 구조가 아닌 애니메이션은 js를 이용하는 것을 권장 */

@keyframes flow {
  from {transform: translateX(0);}
  to {transform: translateX(-100%);}
}
.flow_content_wrap {overflow: hidden;}
.flow_content {display: flex;}
.flow_content img {
  animation: flow 8s linear infinite;
}

/* earth_wrap, banner_wrap */
@media screen and (min-width: 1281px) {
  .earth_wrap {padding: 120px 0;}
  .earth_wrap h3 {width: 700px;}
  .banner_wrap .banner_content {height: 420px;}
  .banner_wrap .txt1 {font-size: 18px;}
  .banner_wrap .txt2 {font-size: 32px;}
  .banner_wrap .main_link {margin-top: 80px;}
  .banner_wrap .banner_content img {width: 10%;}
  .banner_wrap .bar {left: 16%;right: 16%;}
}
@media screen and (max-width: 1280px) {
  .earth_wrap {padding: 100px 0;}
  .earth_wrap h3 {width: 640px;}
  .banner_wrap .banner_content {height: 360px;}
  .banner_wrap .main_link {margin-top: 80px;}
  .banner_wrap .banner_content img {width: 12%;}
  .banner_wrap .bar {left: 18%;right: 18%;}
}
@media screen and (max-width: 1024px) {
  .earth_wrap {padding: 100px 0;}
  .earth_wrap h3 {width: 560px;}
  .banner_wrap .banner_content {height: 300px;}
  .banner_wrap .txt1 {font-size: 14px;}
  .banner_wrap .txt2 {font-size: 26px;}
  .banner_wrap .main_link {margin-top: 60px;}
}
@media screen and (max-width: 768px) {
  .earth_wrap .img_mob {
    display: flex;flex-direction: column;
    align-items: center;
  }
  .banner_wrap .banner_content {height: 240px;}
  .banner_wrap .banner_content img,
  .banner_wrap .banner_content .bar {display: none;}
  .banner_wrap .main_link {margin-top: 40px;}
}
@media screen and (max-width: 640px) {
  .earth_wrap {padding: 80px 0;}
  .earth_wrap h3 {width: 100%;}
}

@media screen and (max-width: 768px) {
  [class*="_pc"] {display: none;}
  [class*="_mob"] {display: block;}
}
@media screen and (min-width: 768px) {
  [class*="_pc"] {display: block;}
  [class*="_mob"] {display: none;}
}